body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.abr-error-message{
  position: fixed;
  top: 0px;
  color: black;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(156, 156, 156, 0.5);;
  display: flex;
  justify-content: center;
}

.abr-error-message > div {
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(250,250,250, 0.7);
  border-radius: 15px;

}

.abr-error-message > div > div {
  color: black;
  font-size: large;
  padding: 30px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abr-error-message a {
  padding-left: 30px;
  padding-right: 30px;
}




.abr-content-head {
  width: 100%;
  height: 64px;
  background-color: #ee6e73;
  color: white;
  /*padding: 10px;*/
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.abr-content-head a {
  color: white;
}

.abr-content-body {
  width: 60%;
  height: 100%;
  margin: auto;
  padding-top: 10px;
}

.abr-list-head {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.abr-list-head > div {

}

.abr-list-head h3{
  color: #2bbbad
}

.abr-list-body {
  padding: 0;
  margin: auto;
}

.abr-error-message {
  color: red;
}

.abr-content-head-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
  align-content: center;
}

.abr-content-head > div {
  margin: 10px;
}

.abr-content-head-nav > div, .abr-content-head-nav > nav {
  padding: 0px 10px 0px 10px;
}
.abr-content-head-nav > div {
  border-right: solid;
  border-right-width: 1px;
}

nav {
  box-shadow: none !important;
}

.abr-content-head-nav > div {
  font-size: 18px;
  min-width: 200px;
  margin: auto;
}

.abr-btn {
  margin: auto;
  padding: 2em;
}

.abr-btn-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.abr-btn-list > div {
  padding-right: 2em;
}

.abr-select{
  opacity: 1;
  height: 3em;
  width: 100%;
  position: relative;
  display: block;
}

