<!-- Сообщение об ошибке начало-->
<div *ngIf="errorMsg" class="abr-error-message">
  <div>
    <div>
      <div>
        <p>{{errorMsg}}</p>
      </div>
      <div>
        <p>
          <a class="waves-effect waves-light btn" (click)="clearErrorMsg()">   Ок   </a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Сообщение об ошибке конец -->
<div class="abr-content-body">
  <!-- Режим Списка начало -->
  <div *ngIf="!isAddAcc">
    <div class="abr-list-head">
      <div>
        <h3>Список Счетов</h3>
      </div>
      <div>
        <a class="waves-effect waves-light btn" (click)="getAddAccForm()">Добавить Счет</a>
      </div>
    </div>
    <div class="abr-list-body">
      <div *ngIf="accList.length > 0">
        <table border='1'>
          <tr>
            <th>Счет</th>
            <th>БИК</th>
            <th>Филиал</th>
          </tr>
          <tr *ngFor = 'let acc of accList' (click)="editAccount(acc)">
            <td>{{acc.account}}</td>
            <td>{{acc.bic}}</td>
            <td>{{acc.branch.name}}</td>
          </tr>
        </table>
      </div>
      <div *ngIf="accList != null ? accList.length == 0 : false">
        <p>Счета не заведены</p>
      </div>
      <div *ngIf="accList == null">
        <p>Запрос списка счетов, подождите</p>
      </div>
    </div>
  </div>
  <!-- Режим списка конец -->

  <!-- Режим правки начало -->
  <div *ngIf="isAddAcc">
    <div class="abr-list-head">
      <div >
        <h3>Добавить счет</h3>
      </div>
      <div>
        <a class="waves-effect waves-light btn" (click)="getAccList()">Список счетов</a>
      </div>
    </div>
    <div class="abr-list-body">
      <div>
        <p>Счет
          <input type="text" [(ngModel)]="accNumber">
        </p>
        <p>Филиал</p>
          <select class="abr-select"(change)=setFilialForAccount($event.target.value) [(ngModel)]="filial">
            <option *ngFor="let f of filialList" value="{{f.id}}" >{{f.name}}</option>
          </select>
        <p>БИК
          <input type="text" [(ngModel)]="accBic" disabled>
        </p>
        <div *ngIf="accId != 0">
          <div class="row">
            <div class="col s4">
              <p>Дата С
                <input type="date" [(ngModel)]="dateFrom">
              </p>
            </div>
            <div class="col s4">
              <p>Дата По
                <input type="date" [(ngModel)]="dateTo">
              </p>
            </div>
            <div class="col s4">
              <div class="abr-btn">
              <a class="waves-effect waves-light btn" (click)="sendStateReq()">Отправить запрос</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="accId == 0">
          <a class="waves-effect waves-light btn" (click)="createAcc()">Создать счет</a>
        </div>
        <div *ngIf="accId != 0" class="abr-btn-list">
          <div>
            <a class="waves-effect waves-light btn" (click)="updateAcc()">Сохранить счет</a>
          </div>
          <div>
            <a class="waves-effect waves-light btn" (click)="deleteAcc()">Удалить счет</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Режим правки конец -->
</div>
