<div class="root-content">
  <div *ngIf="isAddOrg">
    <div class="abr-list-head">
      <div >
        <h3>Список Организаций</h3>
      </div>
      <div>
        <a class="waves-effect waves-light btn" (click)="getAddLOrgForm()" )>Добавить Организацию</a>
      </div>
    </div>
  </div>
  <div *ngIf="!isAddOrg">
    <div class="abr-list-head">
      <div >
        <h3>Добавить Организацию</h3>
      </div>
      <div>
        <a class="waves-effect waves-light btn" (click)="getAddLOrgForm()" )>Список Организаций</a>
      </div>
    </div>
    <div>
      <p>
        <input type="text" *ngModel="[(orgExtId)]">
      </p>
      <p>
        <input type="text" *ngModel="[(orgName)]">
      </p>
      <p>
        <input type="text" *ngModel="[(orgLegacyId)]">
      </p>
      <p>
        <a class="waves-effect waves-light btn" (click)="createOrg()" )>Сохранить Организацию</a>
      </p>
    </div>
  </div>
</div>
